In [492]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from category_encoders import CatBoostEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import RobustScaler,  StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
df = pd.read_csv('ramen-ratings.csv')
df

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

In [494]:
df.set_index('Review #', inplace = True)

In [496]:
df

,Brand,Variety,Style,Country,Stars,Top Ten
Review #,,,,,,
2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...
5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

In [498]:
df.dtypes

Brand      object
Variety    object
Style      object
Country    object
Stars      object
Top Ten    object
dtype: object

In [500]:
stars_dummies = pd.get_dummies(df['Stars'], prefix='Stars', dtype=float)
df = pd.concat([df, stars_dummies], axis=1)

In [521]:
from sklearn.model_selection import train_test_split
X=df.drop(columns = 'Stars')
y = df['Stars']

In [523]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [525]:
X_train.isna().sum()

Brand               0
Variety             0
Style               1
Country             0
Top Ten          2028
Stars_0             0
Stars_0.1           0
Stars_0.25          0
Stars_0.5           0
Stars_0.75          0
Stars_0.9           0
Stars_1             0
Stars_1.1           0
Stars_1.25          0
Stars_1.5           0
Stars_1.75          0
Stars_1.8           0
Stars_2             0
Stars_2.1           0
Stars_2.125         0
Stars_2.25          0
Stars_2.3           0
Stars_2.5           0
Stars_2.75          0
Stars_2.8           0
Stars_2.85          0
Stars_2.9           0
Stars_3             0
Stars_3.0           0
Stars_3.00          0
Stars_3.1           0
Stars_3.125         0
Stars_3.2           0
Stars_3.25          0
Stars_3.3           0
Stars_3.4           0
Stars_3.5           0
Stars_3.50          0
Stars_3.6           0
Stars_3.65          0
Stars_3.7           0
Stars_3.75          0
Stars_3.8           0
Stars_4             0
Stars_4.0           0
Stars_4.00          0
Stars_4.125         0
Stars_4.25          0
Stars_4.3           0
Stars_4.5           0
Stars_4.50          0
Stars_4.75          0
Stars_5             0
Stars_5.0           0
Stars_5.00          0
Stars_Unrated       0
dtype: int64

In [527]:
X_train.shape

(2064, 56)

In [529]:
X_train.drop(columns = 'Top Ten', inplace = True)

In [530]:
X_test.drop(columns = 'Top Ten', inplace = True)

In [531]:
X_train

,Brand,Variety,Style,Country,Stars_0,Stars_0.1,Stars_0.25,Stars_0.5,Stars_0.75,Stars_0.9,...,Stars_4.125,Stars_4.25,Stars_4.3,Stars_4.5,Stars_4.50,Stars_4.75,Stars_5,Stars_5.0,Stars_5.00,Stars_Unrated
Review #,,,,,,,,,,,,,,,,,,,,,
870,SuperMi,Mi Keriting Rasa Ayam Bawang,Pack,Indonesia,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
530,Mee Jang,Artificial Shrimp Tom yum,Bowl,Thailand,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
216,Maruchan,Instant Lunch Roast Chicken Flavor,Cup,USA,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2219,Fantastic,Noodles Crispy Bacon Flavour,Cup,Australia,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
557,Batchelors,Super Noodles Souther Fried Chicken,Pack,UK,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
942,Kamfen,E-men Lobster Soup,Pack,China,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1485,Nongshim,Spicy Tonkotsu Noodle Soup,Pack,USA,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1450,Nissin,Japanese Ramen Tokyo Shoyu Instant Noodles Wit...,Pack,Singapore,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1286,Batchelors,Super Noodles Roast Beef & Onion Flavour,Pack,UK,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1720,Mamee,Chef Lontong Flavour,Cup,Malaysia,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [532]:
mode_category = X_train['Style'].mode()[0]

X_train['Style'].fillna(mode_category, inplace=True)

C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_10604\2888309290.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_train['Style'].fillna(mode_category, inplace=True)

In [533]:
X_train.isna().sum()

Brand            0
Variety          0
Style            0
Country          0
Stars_0          0
Stars_0.1        0
Stars_0.25       0
Stars_0.5        0
Stars_0.75       0
Stars_0.9        0
Stars_1          0
Stars_1.1        0
Stars_1.25       0
Stars_1.5        0
Stars_1.75       0
Stars_1.8        0
Stars_2          0
Stars_2.1        0
Stars_2.125      0
Stars_2.25       0
Stars_2.3        0
Stars_2.5        0
Stars_2.75       0
Stars_2.8        0
Stars_2.85       0
Stars_2.9        0
Stars_3          0
Stars_3.0        0
Stars_3.00       0
Stars_3.1        0
Stars_3.125      0
Stars_3.2        0
Stars_3.25       0
Stars_3.3        0
Stars_3.4        0
Stars_3.5        0
Stars_3.50       0
Stars_3.6        0
Stars_3.65       0
Stars_3.7        0
Stars_3.75       0
Stars_3.8        0
Stars_4          0
Stars_4.0        0
Stars_4.00       0
Stars_4.125      0
Stars_4.25       0
Stars_4.3        0
Stars_4.5        0
Stars_4.50       0
Stars_4.75       0
Stars_5          0
Stars_5.0        0
Stars_5.00       0
Stars_Unrated    0
dtype: int64

In [536]:
cat_cols = X_train.select_dtypes(include='object').columns.tolist()
cat_cols

['Brand', 'Variety', 'Style', 'Country']

In [541]:
y_train

Review #
870     3.75
530      3.5
216     2.75
2219       1
557     3.75
        ...
942     3.25
1485       5
1450       5
1286    3.25
1720       5
Name: Stars, Length: 2064, dtype: object

In [543]:
num_cols = X_train.select_dtypes(include='number').columns.tolist()
num_cols

['Stars_0',
 'Stars_0.1',
 'Stars_0.25',
 'Stars_0.5',
 'Stars_0.75',
 'Stars_0.9',
 'Stars_1',
 'Stars_1.1',
 'Stars_1.25',
 'Stars_1.5',
 'Stars_1.75',
 'Stars_1.8',
 'Stars_2',
 'Stars_2.1',
 'Stars_2.125',
 'Stars_2.25',
 'Stars_2.3',
 'Stars_2.5',
 'Stars_2.75',
 'Stars_2.8',
 'Stars_2.85',
 'Stars_2.9',
 'Stars_3',
 'Stars_3.0',
 'Stars_3.00',
 'Stars_3.1',
 'Stars_3.125',
 'Stars_3.2',
 'Stars_3.25',
 'Stars_3.3',
 'Stars_3.4',
 'Stars_3.5',
 'Stars_3.50',
 'Stars_3.6',
 'Stars_3.65',
 'Stars_3.7',
 'Stars_3.75',
 'Stars_3.8',
 'Stars_4',
 'Stars_4.0',
 'Stars_4.00',
 'Stars_4.125',
 'Stars_4.25',
 'Stars_4.3',
 'Stars_4.5',
 'Stars_4.50',
 'Stars_4.75',
 'Stars_5',
 'Stars_5.0',
 'Stars_5.00',
 'Stars_Unrated']

In [545]:
cardinality = X[cat_cols].nunique()
threshold = 10

low_card_cols = cardinality[cardinality <= threshold].index.tolist()
high_card_cols = cardinality[cardinality > threshold].index.tolist()
pipe_num = Pipeline([
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', RobustScaler())
])
pipe_high = Pipeline([
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('catboost', CatBoostEncoder(handle_unknown='ignore'))
])
pipe_low = Pipeline([
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])



preprocessor = ColumnTransformer([
    ('numerical',pipe_num, num_cols),
    ('low_card_ohe', ohe_encoder, low_card_cols),
    ('high_card_cb', cb_encoder, high_card_cols)
])

pipeline = Pipeline(steps=[
    ('preprocessing', preprocessor),
    ('model', RandomForestClassifier(random_state=42))
])
pipeline.fit(X_train, y_train)

y_pred = pipeline.predict(X_test)

In [546]:
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error (MSE): {mse:.4f}")
print(f"Mean Absolute Error (MAE): {mae:.4f}")
print(f"R^2 Score: {r2:.4f}")

Mean Squared Error (MSE): 0.0147
Mean Absolute Error (MAE): 0.0103
R^2 Score: 0.9838